
body{
  color: #40514E;
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
}

h1{
  color: #66BFBF;
  font-size: 560.2%;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a{
  margin: 30px 40px;
}
a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color : #BFFFF0;
  position: relative;
  padding-top: 100px;
}

.mid-container{
  margin: 100px 0;
}

.bottom-container{
  margin: 50px 0;
  background: #66BFBF;
}

.content-me{
  margin: 50px 0;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.btn {
  background: #11ccd4;
  background-image: -webkit-linear-gradient(top, #11ccd4, #11999e);
  background-image: -moz-linear-gradient(top, #11ccd4, #11999e);
  background-image: -ms-linear-gradient(top, #11ccd4, #11999e);
  background-image: -o-linear-gradient(top, #11ccd4, #11999e);
  background-image: linear-gradient(to bottom, #11ccd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #11cdd4 2px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.top-cloud{
  position: absolute;
  right : 300px;
  top : 50px;
}

.bottom-cloud{
  position : absolute;
  left : 300px;
  bottom : 300px;
}
